<h1>Editing Availablility Of Power2</h1>

<%= render 'form', availablility_of_power2: @availablility_of_power2 %>

<%= link_to 'Show', @availablility_of_power2 %> |
<%= link_to 'Back', availablility_of_power2s_path %>
