<h1>Editing Production And Productivity Of Rice</h1>

<%= render 'form', production_and_productivity_of_rice: @production_and_productivity_of_rice %>

<%= link_to 'Show', @production_and_productivity_of_rice %> |
<%= link_to 'Back', production_and_productivity_of_rices_path %>
