<h1>Editing State Domestic Product7</h1>

<%= render 'form', state_domestic_product7: @state_domestic_product7 %>

<%= link_to 'Show', @state_domestic_product7 %> |
<%= link_to 'Back', state_domestic_product7s_path %>
