<h1>Editing District Wise Section6</h1>

<%= render 'form', district_wise_section6: @district_wise_section6 %>

<%= link_to 'Show', @district_wise_section6 %> |
<%= link_to 'Back', district_wise_section6s_path %>
