<h1>Editing Agricultural Inputs1 Part1</h1>

<%= render 'form', agricultural_inputs1_part1: @agricultural_inputs1_part1 %>

<%= link_to 'Show', @agricultural_inputs1_part1 %> |
<%= link_to 'Back', agricultural_inputs1_part1s_path %>
