<h1>Editing Financial Institutions2</h1>

<%= render 'form', financial_institutions2: @financial_institutions2 %>

<%= link_to 'Show', @financial_institutions2 %> |
<%= link_to 'Back', financial_institutions2s_path %>
