<h1>Editing Expenditure Management3</h1>

<%= render 'form', expenditure_management3: @expenditure_management3 %>

<%= link_to 'Show', @expenditure_management3 %> |
<%= link_to 'Back', expenditure_management3s_path %>
