<h1>Editing District Wise Section7</h1>

<%= render 'form', district_wise_section7: @district_wise_section7 %>

<%= link_to 'Show', @district_wise_section7 %> |
<%= link_to 'Back', district_wise_section7s_path %>
