<h1>Editing Distribution Of Homestead Land2</h1>

<%= render 'form', distribution_of_homestead_land2: @distribution_of_homestead_land2 %>

<%= link_to 'Show', @distribution_of_homestead_land2 %> |
<%= link_to 'Back', distribution_of_homestead_land2s_path %>
