<h3>Import a CSV File</h3>
  <%= form_tag import_distribution_of_homestead_land2s_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import CSV" %>
     <% end %>
<%= link_to 'Back', distribution_of_homestead_land2s_path %>
