<h1>Editing Demographic Profile2</h1>

<%= render 'form', demographic_profile2: @demographic_profile2 %>

<%= link_to 'Show', @demographic_profile2 %> |
<%= link_to 'Back', demographic_profile2s_path %>
