<h1>Editing Education Art Culture4</h1>

<%= render 'form', education_art_culture4: @education_art_culture4 %>

<%= link_to 'Show', @education_art_culture4 %> |
<%= link_to 'Back', education_art_culture4s_path %>
