<h1>Editing Bihar Renewable Energy</h1>

<%= render 'form', bihar_renewable_energy: @bihar_renewable_energy %>

<%= link_to 'Show', @bihar_renewable_energy %> |
<%= link_to 'Back', bihar_renewable_energies_path %>
