<h1>Editing District Wise Section2</h1>

<%= render 'form', district_wise_section2: @district_wise_section2 %>

<%= link_to 'Show', @district_wise_section2 %> |
<%= link_to 'Back', district_wise_section2s_path %>
