<h1>Editing Banking Infrastructure4</h1>

<%= render 'form', banking_infrastructure4: @banking_infrastructure4 %>

<%= link_to 'Show', @banking_infrastructure4 %> |
<%= link_to 'Back', banking_infrastructure4s_path %>
