<h1>Editing Comparison Of Budget1</h1>

<%= render 'form', comparison_of_budget1: @comparison_of_budget1 %>

<%= link_to 'Show', @comparison_of_budget1 %> |
<%= link_to 'Back', comparison_of_budget1s_path %>
