<h1>Editing Rural Development Programmes5</h1>

<%= render 'form', rural_development_programmes5: @rural_development_programmes5 %>

<%= link_to 'Show', @rural_development_programmes5 %> |
<%= link_to 'Back', rural_development_programmes5s_path %>
