<h3>Import a CSV File</h3>
  <%= form_tag import_cropping_patterns_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import CSV" %>
     <% end %>
<%= link_to 'Back', cropping_patterns_path %>
