<h1>Editing Level Of Urbanisation2</h1>

<%= render 'form', level_of_urbanisation2: @level_of_urbanisation2 %>

<%= link_to 'Show', @level_of_urbanisation2 %> |
<%= link_to 'Back', level_of_urbanisation2s_path %>
