<h1>Editing Resource Management14</h1>

<%= render 'form', resource_management14: @resource_management14 %>

<%= link_to 'Show', @resource_management14 %> |
<%= link_to 'Back', resource_management14s_path %>
