<h1>Editing Sixth Economic Census1</h1>

<%= render 'form', sixth_economic_census1: @sixth_economic_census1 %>

<%= link_to 'Show', @sixth_economic_census1 %> |
<%= link_to 'Back', sixth_economic_census1s_path %>
