<h1>Editing Production Productivity7</h1>

<%= render 'form', production_productivity7: @production_productivity7 %>

<%= link_to 'Show', @production_productivity7 %> |
<%= link_to 'Back', production_productivity7s_path %>
