<h1>Editing Resource Management9</h1>

<%= render 'form', resource_management9: @resource_management9 %>

<%= link_to 'Show', @resource_management9 %> |
<%= link_to 'Back', resource_management9s_path %>
