<h1>Editing Resource Management12</h1>

<%= render 'form', resource_management12: @resource_management12 %>

<%= link_to 'Show', @resource_management12 %> |
<%= link_to 'Back', resource_management12s_path %>
