<h1>Editing Education Art Culture7</h1>

<%= render 'form', education_art_culture7: @education_art_culture7 %>

<%= link_to 'Show', @education_art_culture7 %> |
<%= link_to 'Back', education_art_culture7s_path %>
