<h1>Editing District Wise Section10</h1>

<%= render 'form', district_wise_section10: @district_wise_section10 %>

<%= link_to 'Show', @district_wise_section10 %> |
<%= link_to 'Back', district_wise_section10s_path %>
