<h1>Editing Non Agro Based Industries4</h1>

<%= render 'form', non_agro_based_industries4: @non_agro_based_industries4 %>

<%= link_to 'Show', @non_agro_based_industries4 %> |
<%= link_to 'Back', non_agro_based_industries4s_path %>
