<h1>Editing Rural Development Programmes3</h1>

<%= render 'form', rural_development_programmes3: @rural_development_programmes3 %>

<%= link_to 'Show', @rural_development_programmes3 %> |
<%= link_to 'Back', rural_development_programmes3s_path %>
