<h1>Editing District Wise Section8</h1>

<%= render 'form', district_wise_section8: @district_wise_section8 %>

<%= link_to 'Show', @district_wise_section8 %> |
<%= link_to 'Back', district_wise_section8s_path %>
