<h1>Editing Support Institutions4</h1>

<%= render 'form', support_institutions4: @support_institutions4 %>

<%= link_to 'Show', @support_institutions4 %> |
<%= link_to 'Back', support_institutions4s_path %>
