<h1>Editing Deposites And Credits5</h1>

<%= render 'form', deposites_and_credits5: @deposites_and_credits5 %>

<%= link_to 'Show', @deposites_and_credits5 %> |
<%= link_to 'Back', deposites_and_credits5s_path %>
