<h1>Editing State Domestic Product4</h1>

<%= render 'form', state_domestic_product4: @state_domestic_product4 %>

<%= link_to 'Show', @state_domestic_product4 %> |
<%= link_to 'Back', state_domestic_product4s_path %>
