<h1>Editing Resource Management8</h1>

<%= render 'form', resource_management8: @resource_management8 %>

<%= link_to 'Show', @resource_management8 %> |
<%= link_to 'Back', resource_management8s_path %>
