<h1>Editing Comparison Of Budget</h1>

<%= render 'form', comparison_of_budget: @comparison_of_budget %>

<%= link_to 'Show', @comparison_of_budget %> |
<%= link_to 'Back', comparison_of_budgets_path %>
