<h1>Editing District Wise Section9</h1>

<%= render 'form', district_wise_section9: @district_wise_section9 %>

<%= link_to 'Show', @district_wise_section9 %> |
<%= link_to 'Back', district_wise_section9s_path %>
