<h1>Editing Programmes For Electrification2</h1>

<%= render 'form', programmes_for_electrification2: @programmes_for_electrification2 %>

<%= link_to 'Show', @programmes_for_electrification2 %> |
<%= link_to 'Back', programmes_for_electrification2s_path %>
