<h1>Editing Support Institutions3</h1>

<%= render 'form', support_institutions3: @support_institutions3 %>

<%= link_to 'Show', @support_institutions3 %> |
<%= link_to 'Back', support_institutions3s_path %>
