<h1>Editing Non Agro Based Industries3</h1>

<%= render 'form', non_agro_based_industries3: @non_agro_based_industries3 %>

<%= link_to 'Show', @non_agro_based_industries3 %> |
<%= link_to 'Back', non_agro_based_industries3s_path %>
