<h1>Editing State Public Sector3</h1>

<%= render 'form', state_public_sector3: @state_public_sector3 %>

<%= link_to 'Show', @state_public_sector3 %> |
<%= link_to 'Back', state_public_sector3s_path %>
