<h1>Editing Agro Based Industries5</h1>

<%= render 'form', agro_based_industries5: @agro_based_industries5 %>

<%= link_to 'Show', @agro_based_industries5 %> |
<%= link_to 'Back', agro_based_industries5s_path %>
