<h1>Editing Drinking Water Supply And Sanitation2</h1>

<%= render 'form', drinking_water_supply_and_sanitation2: @drinking_water_supply_and_sanitation2 %>

<%= link_to 'Show', @drinking_water_supply_and_sanitation2 %> |
<%= link_to 'Back', drinking_water_supply_and_sanitation2s_path %>
