<h1>Editing Education Art Culture9</h1>

<%= render 'form', education_art_culture9: @education_art_culture9 %>

<%= link_to 'Show', @education_art_culture9 %> |
<%= link_to 'Back', education_art_culture9s_path %>
