<h1>Editing Rural Infrastructure Development Fund</h1>

<%= render 'form', rural_infrastructure_development_fund: @rural_infrastructure_development_fund %>

<%= link_to 'Show', @rural_infrastructure_development_fund %> |
<%= link_to 'Back', rural_infrastructure_development_funds_path %>
