<h1>Editing Qualityofexpenditure</h1>

<%= render 'form', qualityofexpenditure: @qualityofexpenditure %>

<%= link_to 'Show', @qualityofexpenditure %> |
<%= link_to 'Back', qualityofexpenditures_path %>
