<h1>Editing Rural Development Programmes2</h1>

<%= render 'form', rural_development_programmes2: @rural_development_programmes2 %>

<%= link_to 'Show', @rural_development_programmes2 %> |
<%= link_to 'Back', rural_development_programmes2s_path %>
