<h1>Editing Operational And Financial Status2</h1>

<%= render 'form', operational_and_financial_status2: @operational_and_financial_status2 %>

<%= link_to 'Show', @operational_and_financial_status2 %> |
<%= link_to 'Back', operational_and_financial_status2s_path %>
