<h1>Editing Deposites And Credits2</h1>

<%= render 'form', deposites_and_credits2: @deposites_and_credits2 %>

<%= link_to 'Show', @deposites_and_credits2 %> |
<%= link_to 'Back', deposites_and_credits2s_path %>
