<h1>Editing Demographic Profile1</h1>

<%= render 'form', demographic_profile1: @demographic_profile1 %>

<%= link_to 'Show', @demographic_profile1 %> |
<%= link_to 'Back', demographic_profile1s_path %>
