<h1>Editing Agro Based Industries3</h1>

<%= render 'form', agro_based_industries3: @agro_based_industries3 %>

<%= link_to 'Show', @agro_based_industries3 %> |
<%= link_to 'Back', agro_based_industries3s_path %>
