<h1>Editing Resource Management5</h1>

<%= render 'form', resource_management5: @resource_management5 %>

<%= link_to 'Show', @resource_management5 %> |
<%= link_to 'Back', resource_management5s_path %>
