<h1>Editing District Wise Section1</h1>

<%= render 'form', district_wise_section1: @district_wise_section1 %>

<%= link_to 'Show', @district_wise_section1 %> |
<%= link_to 'Back', district_wise_section1s_path %>
