<h1>Editing Banking Infrastructure2</h1>

<%= render 'form', banking_infrastructure2: @banking_infrastructure2 %>

<%= link_to 'Show', @banking_infrastructure2 %> |
<%= link_to 'Back', banking_infrastructure2s_path %>
