<h1>Editing State Domestic Product11</h1>

<%= render 'form', state_domestic_product11: @state_domestic_product11 %>

<%= link_to 'Show', @state_domestic_product11 %> |
<%= link_to 'Back', state_domestic_product11s_path %>
