<h1>Editing Agricultural Inputs1 Part2</h1>

<%= render 'form', agricultural_inputs1_part2: @agricultural_inputs1_part2 %>

<%= link_to 'Show', @agricultural_inputs1_part2 %> |
<%= link_to 'Back', agricultural_inputs1_part2s_path %>
