<h1>Editing Deposites And Credits3</h1>

<%= render 'form', deposites_and_credits3: @deposites_and_credits3 %>

<%= link_to 'Show', @deposites_and_credits3 %> |
<%= link_to 'Back', deposites_and_credits3s_path %>
