<h1>Editing Non Agro Based Industries2</h1>

<%= render 'form', non_agro_based_industries2: @non_agro_based_industries2 %>

<%= link_to 'Show', @non_agro_based_industries2 %> |
<%= link_to 'Back', non_agro_based_industries2s_path %>
