<h1>Editing Availablility Of Power1</h1>

<%= render 'form', availablility_of_power1: @availablility_of_power1 %>

<%= link_to 'Show', @availablility_of_power1 %> |
<%= link_to 'Back', availablility_of_power1s_path %>
