<h1>Editing Resource Management1</h1>

<%= render 'form', resource_management1: @resource_management1 %>

<%= link_to 'Show', @resource_management1 %> |
<%= link_to 'Back', resource_management1s_path %>
