<h1>Editing Resource Management7</h1>

<%= render 'form', resource_management7: @resource_management7 %>

<%= link_to 'Show', @resource_management7 %> |
<%= link_to 'Back', resource_management7s_path %>
