<h1>Editing Sectoral Expenditure2</h1>

<%= render 'form', sectoral_expenditure2: @sectoral_expenditure2 %>

<%= link_to 'Show', @sectoral_expenditure2 %> |
<%= link_to 'Back', sectoral_expenditure2s_path %>
