<h1>Editing State Public Sector1</h1>

<%= render 'form', state_public_sector1: @state_public_sector1 %>

<%= link_to 'Show', @state_public_sector1 %> |
<%= link_to 'Back', state_public_sector1s_path %>
