<h1>Editing Agro Based Industries4</h1>

<%= render 'form', agro_based_industries4: @agro_based_industries4 %>

<%= link_to 'Show', @agro_based_industries4 %> |
<%= link_to 'Back', agro_based_industries4s_path %>
