<h1>Editing Operational And Financial Status1</h1>

<%= render 'form', operational_and_financial_status1: @operational_and_financial_status1 %>

<%= link_to 'Show', @operational_and_financial_status1 %> |
<%= link_to 'Back', operational_and_financial_status1s_path %>
