<p id="notice"><%= notice %></p>

<h1>Mapbihars</h1>

<table>
  <thead>
    <tr>
      <th>Districts</th>
      <th>Indicator</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mapbihars.each do |mapbihar| %>
      <tr>
        <td><%= mapbihar.Districts %></td>
        <td><%= mapbihar.indicator %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mapbihar', new_mapbihar_path %>