<h1>Editing Production Productivity11</h1>

<%= render 'form', production_productivity11: @production_productivity11 %>

<%= link_to 'Show', @production_productivity11 %> |
<%= link_to 'Back', production_productivity11s_path %>
