<h1>Editing Deposites And Credits1</h1>

<%= render 'form', deposites_and_credits1: @deposites_and_credits1 %>

<%= link_to 'Show', @deposites_and_credits1 %> |
<%= link_to 'Back', deposites_and_credits1s_path %>
