<h3>Import a CSV File</h3>
  <%= form_tag import_projection_of_power_requirement4s_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import CSV" %>
     <% end %>
<%= link_to 'Back', projection_of_power_requirement4s_path %>
