<h1>Editing Bihar Start Up Policy</h1>

<%= render 'form', bihar_start_up_policy: @bihar_start_up_policy %>

<%= link_to 'Show', @bihar_start_up_policy %> |
<%= link_to 'Back', bihar_start_up_policies_path %>
