<h1>Editing Support Institutions2</h1>

<%= render 'form', support_institutions2: @support_institutions2 %>

<%= link_to 'Show', @support_institutions2 %> |
<%= link_to 'Back', support_institutions2s_path %>
