<h1>Editing Resource Management4</h1>

<%= render 'form', resource_management4: @resource_management4 %>

<%= link_to 'Show', @resource_management4 %> |
<%= link_to 'Back', resource_management4s_path %>
