<h1>Editing Financial Institutions1</h1>

<%= render 'form', financial_institutions1: @financial_institutions1 %>

<%= link_to 'Show', @financial_institutions1 %> |
<%= link_to 'Back', financial_institutions1s_path %>
