<h1>Editing State Domestic Product8</h1>

<%= render 'form', state_domestic_product8: @state_domestic_product8 %>

<%= link_to 'Show', @state_domestic_product8 %> |
<%= link_to 'Back', state_domestic_product8s_path %>
