<h1>Editing Production Productivity1</h1>

<%= render 'form', production_productivity1: @production_productivity1 %>

<%= link_to 'Show', @production_productivity1 %> |
<%= link_to 'Back', production_productivity1s_path %>
