<h1>Editing Banking Infrastructure3</h1>

<%= render 'form', banking_infrastructure3: @banking_infrastructure3 %>

<%= link_to 'Show', @banking_infrastructure3 %> |
<%= link_to 'Back', banking_infrastructure3s_path %>
