<h1>Editing Expenditure Management</h1>

<%= render 'form', expenditure_management: @expenditure_management %>

<%= link_to 'Show', @expenditure_management %> |
<%= link_to 'Back', expenditure_managements_path %>
