<h1>Editing District Wise Section3</h1>

<%= render 'form', district_wise_section3: @district_wise_section3 %>

<%= link_to 'Show', @district_wise_section3 %> |
<%= link_to 'Back', district_wise_section3s_path %>
