<h1>Editing Social Security For Old And Disabled</h1>

<%= render 'form', social_security_for_old_and_disabled: @social_security_for_old_and_disabled %>

<%= link_to 'Show', @social_security_for_old_and_disabled %> |
<%= link_to 'Back', social_security_for_old_and_disableds_path %>
