<h1>Editing Bihar Industrial Investment2</h1>

<%= render 'form', bihar_industrial_investment2: @bihar_industrial_investment2 %>

<%= link_to 'Show', @bihar_industrial_investment2 %> |
<%= link_to 'Back', bihar_industrial_investment2s_path %>
