<h1>Editing State Domestic Product1</h1>

<%= render 'form', state_domestic_product1: @state_domestic_product1 %>

<%= link_to 'Show', @state_domestic_product1 %> |
<%= link_to 'Back', state_domestic_product1s_path %>
