<h1>Editing Rural Development Programmes4</h1>

<%= render 'form', rural_development_programmes4: @rural_development_programmes4 %>

<%= link_to 'Show', @rural_development_programmes4 %> |
<%= link_to 'Back', rural_development_programmes4s_path %>
