<h3>Import a CSV File</h3>
  <%= form_tag import_health8s_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import CSV" %>
     <% end %>
<%= link_to 'Back', health8s_path %>
