<h1>Editing Sectoral Expenditure</h1>

<%= render 'form', sectoral_expenditure: @sectoral_expenditure %>

<%= link_to 'Show', @sectoral_expenditure %> |
<%= link_to 'Back', sectoral_expenditures_path %>
