<h1>Editing Deposites And Credits7</h1>

<%= render 'form', deposites_and_credits7: @deposites_and_credits7 %>

<%= link_to 'Show', @deposites_and_credits7 %> |
<%= link_to 'Back', deposites_and_credits7s_path %>
