<h1>Editing Bihar Industrial Investment1</h1>

<%= render 'form', bihar_industrial_investment1: @bihar_industrial_investment1 %>

<%= link_to 'Show', @bihar_industrial_investment1 %> |
<%= link_to 'Back', bihar_industrial_investment1s_path %>
