<h1>Editing Level Of Urbanisation3</h1>

<%= render 'form', level_of_urbanisation3: @level_of_urbanisation3 %>

<%= link_to 'Show', @level_of_urbanisation3 %> |
<%= link_to 'Back', level_of_urbanisation3s_path %>
