<h1>Editing Deposites And Credits4</h1>

<%= render 'form', deposites_and_credits4: @deposites_and_credits4 %>

<%= link_to 'Show', @deposites_and_credits4 %> |
<%= link_to 'Back', deposites_and_credits4s_path %>
