<h1>Editing State Public Sector2</h1>

<%= render 'form', state_public_sector2: @state_public_sector2 %>

<%= link_to 'Show', @state_public_sector2 %> |
<%= link_to 'Back', state_public_sector2s_path %>
