<h1>Editing Production Productivity4</h1>

<%= render 'form', production_productivity4: @production_productivity4 %>

<%= link_to 'Show', @production_productivity4 %> |
<%= link_to 'Back', production_productivity4s_path %>
