<h1>Editing Rural Development Programmes1</h1>

<%= render 'form', rural_development_programmes1: @rural_development_programmes1 %>

<%= link_to 'Show', @rural_development_programmes1 %> |
<%= link_to 'Back', rural_development_programmes1s_path %>
