<h1>Editing Drinking Water Supply And Sanitation</h1>

<%= render 'form', drinking_water_supply_and_sanitation: @drinking_water_supply_and_sanitation %>

<%= link_to 'Show', @drinking_water_supply_and_sanitation %> |
<%= link_to 'Back', drinking_water_supply_and_sanitations_path %>
