<p id="notice"><%= notice %></p>

<h1>Drinking Water Supply And Sanitations</h1>

<table>
  <thead>
    <tr>
      <th>Contaminants</th>
      <th>Affected districts</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @drinking_water_supply_and_sanitations.each do |drinking_water_supply_and_sanitation| %>
      <tr>
        <td><%= drinking_water_supply_and_sanitation.Contaminants %></td>
        <td><%= drinking_water_supply_and_sanitation.Affected_Districts %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Drinking Water Supply And Sanitation', new_drinking_water_supply_and_sanitation_path %>