<h1>Editing Agricultural Inputs7</h1>

<%= render 'form', agricultural_inputs7: @agricultural_inputs7 %>

<%= link_to 'Show', @agricultural_inputs7 %> |
<%= link_to 'Back', agricultural_inputs7s_path %>
