<h1>Editing Agro Based Industries6</h1>

<%= render 'form', agro_based_industries6: @agro_based_industries6 %>

<%= link_to 'Show', @agro_based_industries6 %> |
<%= link_to 'Back', agro_based_industries6s_path %>
