<h1>Editing Banking Infrastructure1</h1>

<%= render 'form', banking_infrastructure1: @banking_infrastructure1 %>

<%= link_to 'Show', @banking_infrastructure1 %> |
<%= link_to 'Back', banking_infrastructure1s_path %>
