<h1>Editing Production Productivity2</h1>

<%= render 'form', production_productivity2: @production_productivity2 %>

<%= link_to 'Show', @production_productivity2 %> |
<%= link_to 'Back', production_productivity2s_path %>
