<h1>Editing Projection Of Power Requirement3</h1>

<%= render 'form', projection_of_power_requirement3: @projection_of_power_requirement3 %>

<%= link_to 'Show', @projection_of_power_requirement3 %> |
<%= link_to 'Back', projection_of_power_requirement3s_path %>
