<h1>Editing Institutional Structure Of Power Sector</h1>

<%= render 'form', institutional_structure_of_power_sector: @institutional_structure_of_power_sector %>

<%= link_to 'Show', @institutional_structure_of_power_sector %> |
<%= link_to 'Back', institutional_structure_of_power_sectors_path %>
