<h1>Editing Deposites And Credits8</h1>

<%= render 'form', deposites_and_credits8: @deposites_and_credits8 %>

<%= link_to 'Show', @deposites_and_credits8 %> |
<%= link_to 'Back', deposites_and_credits8s_path %>
