<h1>Editing Agricultural Credit2</h1>

<%= render 'form', agricultural_credit2: @agricultural_credit2 %>

<%= link_to 'Show', @agricultural_credit2 %> |
<%= link_to 'Back', agricultural_credit2s_path %>
