<h1>Editing Banking Infrastructure5</h1>

<%= render 'form', banking_infrastructure5: @banking_infrastructure5 %>

<%= link_to 'Show', @banking_infrastructure5 %> |
<%= link_to 'Back', banking_infrastructure5s_path %>
