<h1>Editing Production Productivity9</h1>

<%= render 'form', production_productivity9: @production_productivity9 %>

<%= link_to 'Show', @production_productivity9 %> |
<%= link_to 'Back', production_productivity9s_path %>
