<h1>Editing District Wise Section5</h1>

<%= render 'form', district_wise_section5: @district_wise_section5 %>

<%= link_to 'Show', @district_wise_section5 %> |
<%= link_to 'Back', district_wise_section5s_path %>
