<h1>Editing Resource Management13</h1>

<%= render 'form', resource_management13: @resource_management13 %>

<%= link_to 'Show', @resource_management13 %> |
<%= link_to 'Back', resource_management13s_path %>
