<h1>Editing Banking Infrastructure6</h1>

<%= render 'form', banking_infrastructure6: @banking_infrastructure6 %>

<%= link_to 'Show', @banking_infrastructure6 %> |
<%= link_to 'Back', banking_infrastructure6s_path %>
