<h1>Editing Rural Development Programmes6</h1>

<%= render 'form', rural_development_programmes6: @rural_development_programmes6 %>

<%= link_to 'Show', @rural_development_programmes6 %> |
<%= link_to 'Back', rural_development_programmes6s_path %>
