<h1>Editing Programmes For Electrification1</h1>

<%= render 'form', programmes_for_electrification1: @programmes_for_electrification1 %>

<%= link_to 'Show', @programmes_for_electrification1 %> |
<%= link_to 'Back', programmes_for_electrification1s_path %>
