<h1>Editing Projection Of Power Requirement2</h1>

<%= render 'form', projection_of_power_requirement2: @projection_of_power_requirement2 %>

<%= link_to 'Show', @projection_of_power_requirement2 %> |
<%= link_to 'Back', projection_of_power_requirement2s_path %>
