<h1>Editing Labour Resource And Welfare2</h1>

<%= render 'form', labour_resource_and_welfare2: @labour_resource_and_welfare2 %>

<%= link_to 'Show', @labour_resource_and_welfare2 %> |
<%= link_to 'Back', labour_resource_and_welfare2s_path %>
