<h1>Editing Support Institutions1</h1>

<%= render 'form', support_institutions1: @support_institutions1 %>

<%= link_to 'Show', @support_institutions1 %> |
<%= link_to 'Back', support_institutions1s_path %>
