<h1>Editing Agro Based Industries2</h1>

<%= render 'form', agro_based_industries2: @agro_based_industries2 %>

<%= link_to 'Show', @agro_based_industries2 %> |
<%= link_to 'Back', agro_based_industries2s_path %>
