<h1>Editing Production Productivity5</h1>

<%= render 'form', production_productivity5: @production_productivity5 %>

<%= link_to 'Show', @production_productivity5 %> |
<%= link_to 'Back', production_productivity5s_path %>
