<h1>Editing District Wise Section11</h1>

<%= render 'form', district_wise_section11: @district_wise_section11 %>

<%= link_to 'Show', @district_wise_section11 %> |
<%= link_to 'Back', district_wise_section11s_path %>
