<h1>Editing Resource Management3</h1>

<%= render 'form', resource_management3: @resource_management3 %>

<%= link_to 'Show', @resource_management3 %> |
<%= link_to 'Back', resource_management3s_path %>
