<h1>Editing Resource Management11</h1>

<%= render 'form', resource_management11: @resource_management11 %>

<%= link_to 'Show', @resource_management11 %> |
<%= link_to 'Back', resource_management11s_path %>
