<h1>Editing Road Transport1 Part2</h1>

<%= render 'form', road_transport1_part2: @road_transport1_part2 %>

<%= link_to 'Show', @road_transport1_part2 %> |
<%= link_to 'Back', road_transport1_part2s_path %>
