<h1>Editing Agricultural Inputs3</h1>

<%= render 'form', agricultural_inputs3: @agricultural_inputs3 %>

<%= link_to 'Show', @agricultural_inputs3 %> |
<%= link_to 'Back', agricultural_inputs3s_path %>
