<h1>Editing Udp Jointly Funded11</h1>

<%= render 'form', udp_jointly_funded11: @udp_jointly_funded11 %>

<%= link_to 'Show', @udp_jointly_funded11 %> |
<%= link_to 'Back', udp_jointly_funded11s_path %>
