<h1>Editing Drinking Water Supply And Sanitation1</h1>

<%= render 'form', drinking_water_supply_and_sanitation1: @drinking_water_supply_and_sanitation1 %>

<%= link_to 'Show', @drinking_water_supply_and_sanitation1 %> |
<%= link_to 'Back', drinking_water_supply_and_sanitation1s_path %>
