<h1>Editing District Wise Section</h1>

<%= render 'form', district_wise_section: @district_wise_section %>

<%= link_to 'Show', @district_wise_section %> |
<%= link_to 'Back', district_wise_sections_path %>
