<h1>Editing Deposites And Credits6</h1>

<%= render 'form', deposites_and_credits6: @deposites_and_credits6 %>

<%= link_to 'Show', @deposites_and_credits6 %> |
<%= link_to 'Back', deposites_and_credits6s_path %>
