<h1>Editing Annual State Domestic Product3</h1>

<%= render 'form', annual_state_domestic_product3: @annual_state_domestic_product3 %>

<%= link_to 'Show', @annual_state_domestic_product3 %> |
<%= link_to 'Back', annual_state_domestic_product3s_path %>
