<h1>Editing Projection Of Power Requirement5</h1>

<%= render 'form', projection_of_power_requirement5: @projection_of_power_requirement5 %>

<%= link_to 'Show', @projection_of_power_requirement5 %> |
<%= link_to 'Back', projection_of_power_requirement5s_path %>
