<h1>Editing Production Productivity8</h1>

<%= render 'form', production_productivity8: @production_productivity8 %>

<%= link_to 'Show', @production_productivity8 %> |
<%= link_to 'Back', production_productivity8s_path %>
