<h1>Editing District Wise Section4</h1>

<%= render 'form', district_wise_section4: @district_wise_section4 %>

<%= link_to 'Show', @district_wise_section4 %> |
<%= link_to 'Back', district_wise_section4s_path %>
