<h1>Editing Sectoral Expenditure1</h1>

<%= render 'form', sectoral_expenditure1: @sectoral_expenditure1 %>

<%= link_to 'Show', @sectoral_expenditure1 %> |
<%= link_to 'Back', sectoral_expenditure1s_path %>
