<footer class="footer">
  <small>
     <a href="https://www.linkedin.com/in/syed-shakir-ali-a4b4a4116/">Syed Shakir Ali</a>
     <a href="https://www.linkedin.com/in/nilay-singh-02193836/">Nilay Singh</a>
  </small>
  <nav>
    <ul>
      <li><a href="#">Design By Chandan Yadav And Developed by Nilay Singh and Syed Shakir Ali</a></li>
    </ul>
  </nav>
</footer>
