<h1>Editing Agro Based Industries1</h1>

<%= render 'form', agro_based_industries1: @agro_based_industries1 %>

<%= link_to 'Show', @agro_based_industries1 %> |
<%= link_to 'Back', agro_based_industries1s_path %>
