<h1>Editing Agricultural Credit1</h1>

<%= render 'form', agricultural_credit1: @agricultural_credit1 %>

<%= link_to 'Show', @agricultural_credit1 %> |
<%= link_to 'Back', agricultural_credit1s_path %>
