<h1>Editing Rural Development Programmes7</h1>

<%= render 'form', rural_development_programmes7: @rural_development_programmes7 %>

<%= link_to 'Show', @rural_development_programmes7 %> |
<%= link_to 'Back', rural_development_programmes7s_path %>
